<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.css}">
</head>
<body>
<div class="card">
    <div class="card-header text-bg-danger">
        AUTENTICACIÓN
    </div>
    <div class="card-body">
        <form th:action="@{/login}" method="post" th:object="${loginModel}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtusuario"
                       placeholder="name@example.com" th:field="*{usuario}">
                <label for="txtusuario">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="txtPassword"
                       placeholder="Password" th:field="*{password}">
                <label for="txtPassword">Contraseña</label>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
            </div>
        </form>
    </div>
</div>
</body>
</html>